<html>
    <head>
        <title>Posting!</title>
    </head>
    <body style="margin:50px;">
        <div>
            <h2>{{post.postname}}</h2>
        </div>
        <div style="border-top: 1px solid #848484; margin: 20px 0px;">
        </div>
        <p>{{post.contents}}</p>
           <!-- 이미지 보여주기 -->
        {% if post.mainphoto %}
            <img src = "{{ post.mainphoto.url }}" width="100" height="100">
            <br>
        {% endif %}
        <div style="display: flex; justify-content: flex-end">
            <button onclick="location.href='/blog/{{post.pk}}/remove'" class="del_post">삭제하기</button>
            <button onclick="location.href='/blog/'" class="go_list">목록가기</button>
        </div>
    </body>
    <style>
        .del_post {
            margin-top: 30px;
            width: 100px;
            height: 50px;
            color: white;
            background-color: black;
            border-radius: 15px;
        }
        .go_list{
            margin-top: 30px;
            margin-left:10px;
            width: 100px;
            height: 50px;
            color: black;
            background-color: white;
            border-radius: 15px;
            border: 3px solid black;
        }
    </style>
    <script>
        function go_list(){

        }
    </script>
</html>

