<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 삭제</title>
</head>
<body style="margin:30px; display: flex;">
    <div style="flex-direction: row;">
        <form method="POST">
            {% csrf_token %}
            <h2>해당 게시물을 삭제하시겠습니까?</h2>
            <h3>제목 : {{ Post.postname }}</h3>
            <h4>내용 : {{ Post.contents }}</h4>
            <button style="width: 100px; height: 50px; color: red; background-color: white; font-size:17px;
                           border-radius: 20px; border: 3px solid red; font-weight: bold; ">삭제</button>
        </form>
        <div>
            <button onclick="location.href='/blog/'" style="width: 100px; height: 50px; color: black; background-color: white; font-size:17px;
                                                            margin-top: 20px; border-radius: 20px; border: 3px solid black; font-weight: bold; ">취소</button>
        </div>
    </div>
</body>
</html>